body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: rgba(128,138,135,0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
  
  
}

.navbar ul {
  float: right;
  list-style-type: none;
  
}
.navbar ul li{
  
  font-size: 20px;
  float: right;
  display: block;
  padding: 5px 2px;
}
.navbar ul li a{
  text-align: center;
  font-family: monospace;
  text-decoration: none;
  color: #f2f2f2;
  padding: 50px 12px;
 
}
.navbar ul li a:hover {
  background: #ddd;
  color: black;
}



.splendidtaiwan {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 28px;	
}

input{
  border-radius: 5px;
  border: none;
  font-size: 100%;
  font-family: monospace;
}














    div.content{
        position: absolute;
        top:15%; 
        left: 5%;
		width: 63.5%
		
		
    }
	.navbar {
	  overflow: hidden;
	  background-color: rgba(128,138,135,0.5);
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index:1;
	  
	}
	div.innercontent{  
	height: 250px;
	
	}
    #desc{
        color: white;
        background-color:black;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 8px;
    }
    #small0{
        opacity: 0.5;
    }
    #info{
        border-style: groove;
    }
	.auto-style1 {
	text-align: center;
	height:15px;
	}
	.auto-style2 {
		text-align: center;
		background-color: #ffdc35;
		height:35px;
	}
	.auto-style3 {
		text-align: center;
		background-color: #c4e1ff;
		height:20px;
		
	}

	.foranchor{
	position: fixed;
	top:25%;
	left: 10%;

    }
	
	.foranchor ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
	}

	.foranchor li a {
		display: block;
		color: #000;
		padding: 8px 16px;
		text-decoration: none;
	}

	.foranchor li {
		text-align: center;
	}

	.foranchor li:last-child {
		border-bottom: none;
	}

	.foranchor li a.active {
		background-color: #383635;
		color: white;
	}

	.foranchor li a:hover:not(.active) {
		background-color: #555;
		color: white;
	}
	
	.anchor {
    display:block;
    padding-top:25%;
    margin-top:-25%;
	}
